@model Dydaktycznie.Models.QuizQuestion

@{
    ViewData["Title"] = "Create";
}

<h1>Create Quiz Question</h1>

<div class="row">
    <div class="col-md-6">
        <form asp-controller="QuizQuestions" asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="QuizID" class="control-label">Quiz ID</label>
                <input asp-for="QuizID" class="form-control" readonly />
                <span asp-validation-for="QuizID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Question" class="control-label">Question</label>
                <input asp-for="Question" class="form-control" />
                <span asp-validation-for="Question" class="text-danger"></span>
            </div>

            <!-- Dynamic field generation for Question Answers -->
            <h4>Question Answers:</h4>
            <div id="answers-container">
                <div class="form-group">
                    <label for="QuestionAnswers[0].Answer">Answer 1:</label>
                    <input type="text" id="QuestionAnswers[0].Answer" name="QuestionAnswers[0].Answer" class="form-control" required />
                    <input type="checkbox" id="QuestionAnswers[0].Correct" name="QuestionAnswers[0].Correct" value="true" />
                    <label for="QuestionAnswers[0].Correct">Correct</label>
                </div>
                <div class="form-group">
                    <label for="QuestionAnswers[1].Answer">Answer 2:</label>
                    <input type="text" id="QuestionAnswers[1].Answer" name="QuestionAnswers[1].Answer" class="form-control" required />
                    <input type="checkbox" id="QuestionAnswers[1].Correct" name="QuestionAnswers[1].Correct" value="true" />
                    <label for="QuestionAnswers[1].Correct">Correct</label>
                </div>
                <!-- Additional answers will be added dynamically -->
            </div>

            <button type="button" id="add-answer" class="btn btn-primary">Add Answer</button>

            <div class="form-group">
                <input type="submit" value="Create Question" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var answerIndex = 2; // Starting index for additional answers

            // Function to add new answer input fields
            $("#add-answer").click(function () {
                var newAnswerHtml =
                    '<div class="form-group">' +
                    '   <label for="QuestionAnswers[' + answerIndex + '].Answer">Answer ' + (answerIndex + 1) + ':</label>' +
                    '   <input type="text" id="QuestionAnswers[' + answerIndex + '].Answer" name="QuestionAnswers[' + answerIndex + '].Answer" class="form-control" required />' +
                    '   <input type="checkbox" id="QuestionAnswers[' + answerIndex + '].Correct" name="QuestionAnswers[' + answerIndex + '].Correct" value="true" />' +
                    '   <label for="QuestionAnswers[' + answerIndex + '].Correct">Correct</label>' +
                    '</div>';

                $("#answers-container").append(newAnswerHtml);
                answerIndex++;
            });
        });
    </script>
}
