@model Dydaktycznie.Models.QuizQuestion

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>QuizQuestion</h4>
    <hr />

    <h4 class="col-sm-10">
            @Html.DisplayFor(model => model.Question)
        </h6>
</div>

<div id="answers-container">
    @for (var i = 0; i < Model.QuestionAnswers.Count; i++)
    {
        <div class="form-group">
            <div class="control-label">Odpowiedz @(i + 1):</div>
            <span>@Html.DisplayFor(m => m.QuestionAnswers[i].Answer)</span>
           
        </div>
    }
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.QuizQuestionID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
